<!DOCTYPE html>
<html lang="it">

<head>
    include "html/meta/_core.html"
    include "html/meta/_facebook.html"
    include "html/meta/_twitter.html"

    <script type="application/ld+json">
    include "tmp/bestpractices.json"
    </script>

    <title>Best Practices - Trust Project Il Sole 24 Ore</title>
    include "html/partials/_up.html"
</head>

<body>
    include "html/partials/_nav.html"
    include "html/demo/hero/_ethicsPolicy.html"
    <section class="section content">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    include "html/partials/_menu.html"

                </div>
                <div class="column copy">
                    include "html/demo/content/_ethicsPolicy.html"

                    <!-- index 2 -->
                    include "html/demo/content/_missionCoveragePrioritiesPolicy.html"
                    <!-- index 6 -->
                    include "html/demo/content/_diversityPolicy.html"
                    <!-- index 3 -->
                    include "html/demo/content/_tow.html"
                    <!-- index 4 -->
                    include "html/demo/content/_correctionsPolicy.html"
                    <!-- index 5 -->
                    include "html/demo/content/_verificationFactCheckingPolicy.html"

                    <!-- index 7 -->
                    include "html/demo/content/_foundingDate.html"
                    include "html/demo/content/_ownershipFundingInfo.html"
                    include "html/demo/content/_masthead.html"
                    include "html/demo/content/_actionableFeedbackPolicy.html"

                </div>
            </div>
        </div>
    </section>

    include "html/partials/_footer.html"
</body>

</html>