<!DOCTYPE html>
<html lang="it">

<head>
    include "html/meta/_core.html"

    <script type="application/ld+json">
    include "tmp/tow.json"
    </script>

    <title>Types - Trust Project Il Sole 24 Ore</title>
    include "html/partials/_up.html"
</head>

<body>
    include "html/partials/_nav.html"
    <!-- index 3 -->
    <section class="section content">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    include "html/partials/_menu.html"

                </div>
                <div class="column copy">
                    include "html/demo/content/_tow.html"
                </div>
            </div>
        </div>
    </section>
    include "html/partials/_footer.html"
</body>

</html>