<footer class=" section-footer">
    <div class="footer-pink">
        <div class="container">
            <div class="sole-logo">
                <a href="http://www.ilsole24ore.com/">
                    <img src="/trust/images/sole_24_ore.svg">
                </a>
            </div>
            <div class="sole-menu">
                <nav class="level">
                    <p class="level-item">
                        <a class="link" href="http://www.ilsole24ore.com/notizie.shtml">
                            Italia
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.ilsole24ore.com/mondo.shtml">
                            Mondo
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.ilsole24ore.com/impresa-e-territori.shtml">
                            Impresa &amp; Territori
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.ilsole24ore.com/finanza-e-mercati.shtml">
                            Finanza &amp; Mercati
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.ilsole24ore.com/norme-e-tributi.shtml">
                            Norme &amp; Tributi
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.ilsole24ore.com/commenti-e-idee.shtml">
                            Commenti
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.ilsole24ore.com/management.shtml">
                            Management
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.ilsole24ore.com/tecnologie.shtml">
                            Tecnologia
                        </a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.ilsole24ore.com/lifestyle.shtml">
                            Lifestyle
                        </a>
                    </p>
                </nav>
            </div>
        </div>
    </div>
    <div class="footer-blue">
        <div class="container">
            <div class="gruppo-menu">
                <nav class="level">
                    <p class="level-item">
                        <a class="link" href="http://www.gruppo24ore.ilsole24ore.com/">Gruppo 24&nbsp;ORE</a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.radio24.ilsole24ore.com/">Radio 24</a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.24orecultura.com/">24 ORE Cultura</a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.shopping24.ilsole24ore.com/">Shopping24</a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.system24.ilsole24ore.com/">System24 Pubblicità</a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.ticket24ore.it/" target="_blank" rel="nofollow">Ticket 24 Ore</a>
                    </p>
                    <p class="level-item">
                        <a class="link" href="http://www.bs.ilsole24ore.com/">24 ORE Business School</a>
                    </p>
                    
                </nav>
            </div>
            <div class="gruppo-logo">
                <a href="http://www.gruppo24ore.ilsole24ore.com/">
                    <img src="/trust/images/gruppo_24_ore_w.svg">
                </a>
            </div>
                <nav class="level">
                    <p class="level-item">
                        <span class="social">
                            <a class="link" href="http://www.facebook.com/ilsole24ore">
                                <i class="icon-facebook"></i>
                            </a>
                            <a class="link" href="http://www.ilsole24ore.com/twitter/">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="link" href="https://plus.google.com/112308895348159615070">
                                <i class="icon-google-plus"></i>
                            </a>
                            <a class="link" href="https://www.instagram.com/ilsole_24ore/">
                                <i class="icon-instagram"></i>
                            </a>
                            <a class="link" href="http://www.ilsole24ore.com/st/extra/rss.shtml">
                                <i class="icon-rss"></i>
                            </a>
                        </span>
                    </p>
                    <p class="level-item">
                        <span class="stores">
                            <a class="link" href="https://itunes.apple.com/it/app/il-sole-24-ore/id373950260?mt=8">
                                
                                <img src="/trust/images/google-play-badge@2x.png" height="30">
                            </a>
                            <a class="link" href="https://play.google.com/store/apps/details?id=it.ilsole24ore.android&amp;hl=it">
                                
                                <img src="/trust/images/app-store-badge@2x.png" height="30">
                            </a>
                        </span>
                    </p>
                </nav>

            <nav class=" corporate">
                <span>P.I. 00777910159 - <a href="http://www.gruppo24ore.ilsole24ore.com/it-it/institutional/dati-societari">Dati societari</a> - © Copyright Il Sole 24 ORE Tutti i diritti riservati - Per la tua pubbicità sul sito: <a href="http://websystem.ilsole24ore.com/">Websystem</a></span>
            </nav>
            <nav class=" corporate">
                <a class="link" href="http://www.ilsole24ore.com/redazione/index.shtml">Redazione online</a>
                <span>|</span>
                <a class="link" href="http://www.ilsole24ore.com/commenti-e-idee/il-direttore.shtml">Il Direttore</a>
                <span>|</span>
                <a class="link" href="http://www.gruppo24ore.ilsole24ore.com/it-it/institutional/contatti">Contatti</a>
                <span>|</span>
                <a class="link" href="http://du.ilsole24ore.com/DU/privacyfiles/privacy_policy.html">Privacy Policy</a>
                <span>|</span>
                <a class="link" href="http://du.ilsole24ore.com/utenti/privacyfiles/informativa_cookies.html">Informativa sui cookie</a>
            </nav>
        </div>
    </div>
</footer>