<div class="box sticky">
	<aside class="menu">
		<p class="menu-label">
			Le nostre regole
		</p>
		<ul class="menu-list">
			<li>
				<a href="#ethicsPolicy">Standard e Codice Etico</a>
<!-- 				<ul>
					<li><a href="#">La missione</a></li>
					<li><a href="#">fiducia e credibilità</a></li>
					<li><a href="#">La trasparenza</a></li>
					<li><a href="#">I valori</a></li>
				</ul> -->
			</li>
			<li>
				<a href="#missionCoveragePrioritiesPolicy">Il ruolo del giornalista</a>
<!-- 				<ul>
					<li><a href="#">Conflitti di interessi</a></li>
					<li><a href="#">Standard di comportamento</a></li>
					<li><a href="#">Rapporti con i mercati finanziari</a></li>
					<li><a href="#">Gli altri codici</a></li>
				</ul> -->
			</li>
			<li>
				<a href="#diversityPolicy">Diversità</a>
			</li>
		</ul>
		<p class="menu-label">
			I nostri contenuti
		</p>
		<ul class="menu-list">
			<li>
				<a href="#tow">Tipologie di contenuti</a>
			</li>
			<li>
				<a href="#correctionsPolicy">Errori, correzioni e fact-checking</a>
			</li>
		</ul>
		<p class="menu-label">
			Chi siamo
		</p>
		<ul class="menu-list">
			<li>
				<a href="#foundingDate">La storia de Il Sole 24 ORE</a>
			</li>
			<li>
				<a href="#ownershipFundingInfo">La proprietà</a>
			</li>
			<li>
				<a href="#masthead">Gerenza</a>
			</li>
			<li>
				<a href="#actionableFeedbackPolicy">Contatti</a>
			</li>
		</ul>
	</aside>
</div>