<div class="box sticky">
	<aside class="menu">
		<p class="menu-label">
			Le nostre regole
		</p>
		<ul class="menu-list">
			<li>
				<a href="#top">Preambolo</a>
			</li>
			<li>
				<a href="#missione">La missione</a>
			</li>
			<li>
				<a href="#valori">I valori</a>
			</li>
			<li>
				<a href="#missionCoveragePrioritiesPolicy">Standard di comportamento</a>
			</li>
			<li>
				<a href="#codici">Gli altri codici</a>
			</li>
			<li>
				<a href="#diversityPolicy">Diversità</a>
			</li>
		</ul>
		<p class="menu-label">
			I nostri contenuti
		</p>
		<ul class="menu-list">
			<li>
				<a href="#tow">Tipologie di contenuti</a>
			</li>
			<li>
				<a href="#correctionsPolicy">Errori, correzioni e fact-checking</a>
			</li>
			<li>
				<a href="#actionableFeedbackPolicy">Dialogo con i lettori</a>
			</li>

		</ul>
		<p class="menu-label">
			Chi siamo
		</p>
		<ul class="menu-list">
			<li>
				<a href="#foundingDate">La storia de Il Sole 24 ORE</a>
			</li>
			<li>
				<a href="#ownershipFundingInfo">La proprietà</a>
			</li>
			<li>
				<a href="#masthead">Gerenza</a>
			</li>
		</ul>
	</aside>
</div>