<nav class="navbar">
	<div class="container">
		<div class="navbar-brand">
			<a class="navbar-item" href="../">
				<img src="/trust/images/sole_24_ore.svg" alt="Logo">
			</a>
			<span id="navbarBurger" class="navbar-burger burger" data-target="navbarMenu">
				<span></span>
				<span></span>
				<span></span>
			</span>
		</div>
		<div id="navbarMenu" class="navbar-menu is-hidden-desktop">
			<div class="navbar-end">
				<a class="navbar-item" href="#top">Preambolo</a>
				<a class="navbar-item" href="#missione">La missione</a>
				<a class="navbar-item" href="#valori">I valori</a>
				<a class="navbar-item" href="#missionCoveragePrioritiesPolicy">Standard di comportamento</a>
				<a class="navbar-item" href="#codici">Gli altri codici</a>
				<a class="navbar-item" href="#diversityPolicy">Diversità</a>
				<hr class="navbar-divider">
				<a class="navbar-item" href="#tow">Tipologie di contenuti</a>
				<a class="navbar-item" href="#correctionsPolicy">Errori, correzioni e fact-checking</a>
				<a class="navbar-item" href="#actionableFeedbackPolicy">Dialogo con i lettori</a>
				<hr class="navbar-divider">
				<a class="navbar-item" href="#foundingDate">La storia de Il Sole 24 ORE</a>
				<a class="navbar-item" href="#ownershipFundingInfo">La proprietà</a>
				<a class="navbar-item" href="#masthead">Gerenza</a>
			</div>
		</div>
	</div>
</nav>