<style>
    include "html/partials/_crit.css"
</style>

<link rel="preload" href="dist/css/main.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>
<link rel="stylesheet" href="dist/css/main.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
</noscript>

<script type="text/javascript" src="dist/js/up.min.js"></script>
