@import "variables";

@font-face {
  font-family: 'icomoon';
  src:
    url('#{$icomoon-font-path}/icomoon.woff2?y4prfo') format('woff2'),
    url('#{$icomoon-font-path}/icomoon.ttf?y4prfo') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?y4prfo') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?y4prfo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-magnifier {
  &:before {
    content: unicode($icon-magnifier); 
  }
}
.icon-check {
  &:before {
    content: unicode($icon-check); 
  }
}
.icon-cross {
  &:before {
    content: unicode($icon-cross); 
  }
}
.icon-twitter {
  &:before {
    content: unicode($icon-twitter); 
  }
}
.icon-facebook {
  &:before {
    content: unicode($icon-facebook); 
  }
}
.icon-facebook-f {
  &:before {
    content: unicode($icon-facebook-f); 
  }
}
.icon-feed {
  &:before {
    content: unicode($icon-feed); 
  }
}
.icon-rss {
  &:before {
    content: unicode($icon-rss); 
  }
}
.icon-google-plus {
  &:before {
    content: unicode($icon-google-plus); 
  }
}
.icon-youtube-play {
  &:before {
    content: unicode($icon-youtube-play); 
  }
}
.icon-instagram {
  &:before {
    content: unicode($icon-instagram); 
  }
}

