$icomoon-font-path: "/fonts/icomoon/fonts" !default;

$icon-magnifier: \e922;
$icon-check: \e934;
$icon-cross: \e935;
$icon-twitter: \f099;
$icon-facebook: \f09a;
$icon-facebook-f: \f09a;
$icon-feed: \f09e;
$icon-rss: \f09e;
$icon-google-plus: \f0d5;
$icon-youtube-play: \f16a;
$icon-instagram: \f16d;

