
// headline 700

@font-face {
    font-family: 'Sole_Serif_Headline';
    src: url('/fonts/sole-serif/sole-serif-headline-bold.eot');
    src: url('/fonts/sole-serif/sole-serif-headline-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sole-serif/sole-serif-headline-bold.woff2') format('woff2'),
         url('/fonts/sole-serif/sole-serif-headline-bold.woff') format('woff'),
         url('/fonts/sole-serif/sole-serif-headline-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

// headline 500

// @font-face {
//     font-family: 'Sole_Serif_Headline';
//     src: url('/fonts/sole-serif/sole-serif-headline-medium.eot');
//     src: url('/fonts/sole-serif/sole-serif-headline-medium.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-headline-medium.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-headline-medium.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-headline-medium.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;

// }

// headline 500 italic

// @font-face {
//     font-family: 'Sole_Serif_Headline';
//     src: url('/fonts/sole-serif/sole-serif-headline-mediumitalic.eot');
//     src: url('/fonts/sole-serif/sole-serif-headline-mediumitalic.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-headline-mediumitalic.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-headline-mediumitalic.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-headline-mediumitalic.ttf') format('truetype');
//     font-weight: 500;
//     font-style: italic;

// }

// headline 400

@font-face {
    font-family: 'Sole_Serif_Headline';
    src: url('/fonts/sole-serif/sole-serif-headline-regular.eot');
    src: url('/fonts/sole-serif/sole-serif-headline-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sole-serif/sole-serif-headline-regular.woff2') format('woff2'),
         url('/fonts/sole-serif/sole-serif-headline-regular.woff') format('woff'),
         url('/fonts/sole-serif/sole-serif-headline-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

// headline 400 italic

// @font-face {
//     font-family: 'Sole_Serif_Headline';
//     src: url('/fonts/sole-serif/sole-serif-headline-regular-italic.eot');
//     src: url('/fonts/sole-serif/sole-serif-headline-regular-italic.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-headline-regular-italic.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-headline-regular-italic.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-headline-regular-italic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;

// }

// headline 300

// @font-face {
//     font-family: 'Sole_Serif_Headline';
//     src: url('/fonts/sole-serif/sole-serif-headline-light.eot');
//     src: url('/fonts/sole-serif/sole-serif-headline-light.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-headline-light.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-headline-light.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-headline-light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;

// }

// headline 300 italic

// @font-face {
//     font-family: 'Sole_Serif_Headline';
//     src: url('/fonts/sole-serif/sole-serif-headline-light-italic.eot');
//     src: url('/fonts/sole-serif/sole-serif-headline-light-italic.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-headline-light-italic.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-headline-light-italic.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-headline-light-italic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;
// }

// text 800

// @font-face {
//     font-family: 'Sole_Serif_Text';
//     src: url('/fonts/sole-serif/sole-serif-text-black.eot');
//     src: url('/fonts/sole-serif/sole-serif-text-black.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-text-black.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-text-black.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-text-black.ttf') format('truetype');
//     font-weight: 800;
//     font-style: normal;

// }

// text 700

@font-face {
    font-family: 'Sole_Serif_Text';
    src: url('/fonts/sole-serif/sole-serif-text-bold.eot');
    src: url('/fonts/sole-serif/sole-serif-text-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sole-serif/sole-serif-text-bold.woff2') format('woff2'),
         url('/fonts/sole-serif/sole-serif-text-bold.woff') format('woff'),
         url('/fonts/sole-serif/sole-serif-text-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;

}

// text 400

@font-face {
    font-family: 'Sole_Serif_Text';
    src: url('/fonts/sole-serif/sole-serif-text-regular.eot');
    src: url('/fonts/sole-serif/sole-serif-text-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sole-serif/sole-serif-text-regular.woff2') format('woff2'),
         url('/fonts/sole-serif/sole-serif-text-regular.woff') format('woff'),
         url('/fonts/sole-serif/sole-serif-text-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

// text 400 italic

@font-face {
    font-family: 'Sole_Serif_Text';
    src: url('/fonts/sole-serif/sole-serif-text-regular-italic.eot');
    src: url('/fonts/sole-serif/sole-serif-text-regular-italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/sole-serif/sole-serif-text-regular-italic.woff2') format('woff2'),
         url('/fonts/sole-serif/sole-serif-text-regular-italic.woff') format('woff'),
         url('/fonts/sole-serif/sole-serif-text-regular-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;

}

// text 300

// @font-face {
//     font-family: 'Sole_Serif_Text';
//     src: url('/fonts/sole-serif/sole-serif-text-light.eot');
//     src: url('/fonts/sole-serif/sole-serif-text-light.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-text-light.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-text-light.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-text-light.ttf') format('truetype');
//     font-weight: 300;
//     font-style: normal;

// }

// text 300 italic

// @font-face {
//     font-family: 'Sole_Serif_Text';
//     src: url('/fonts/sole-serif/sole-serif-text-light-italic.eot');
//     src: url('/fonts/sole-serif/sole-serif-text-light-italic.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-text-light-italic.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-text-light-italic.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-text-light-italic.ttf') format('truetype');
//     font-weight: 300;
//     font-style: italic;

// }


// hairline 400

// @font-face {
//     font-family: 'Sole_Serif_Hairline';
//     src: url('/fonts/sole-serif/sole-serif-hairline-regular.eot');
//     src: url('/fonts/sole-serif/sole-serif-hairline-regular.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-hairline-regular.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-hairline-regular.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-hairline-regular.ttf') format('truetype');
//     font-weight: 400;
//     font-style: normal;

// }

// hairline 400 italic

// @font-face {
//     font-family: 'Sole_Serif_Hairline';
//     src: url('/fonts/sole-serif/sole-serif-hairline-italic.eot');
//     src: url('/fonts/sole-serif/sole-serif-hairline-italic.eot?#iefix') format('embedded-opentype'),
//          url('/fonts/sole-serif/sole-serif-hairline-italic.woff2') format('woff2'),
//          url('/fonts/sole-serif/sole-serif-hairline-italic.woff') format('woff'),
//          url('/fonts/sole-serif/sole-serif-hairline-italic.ttf') format('truetype');
//     font-weight: 400;
//     font-style: italic;

// }
