// mobile

@media screen and (max-width: 767px) {
    .typeset {
        p, ul, ol {
            font-family: unquote(map-get($text_m, font-family));
        }

        h1, h2, h3, h4, h5, h6 {
            font-family: unquote(map-get($head_m, font-family));
            font-style: map-get($head_m, normal);
            font-weight: map-get($head_m, bold);
        }

        .h1, .h2, .h3, .h4, .h5, .h6
         {
            font-family: unquote(map-get($head_m, font-family));
            font-weight: map-get($head_m, bold);
        }


        p, ul, ol {
            @include typeset($fontsize: c, $font: $text_m, $lineheight: 26 / 16, $below: 1, $breakpoint: 0);
        }

        // Heading level 1.
        h1, .h1 {
            @include typeset($fontsize: h3, $font: $head_m, $lineheight: 28 / 16, $below: 1, $breakpoint: 0);
        }

        // Heading level 2.
        h2, .h2 {
            @include typeset(h5, $head_m, 24 / 16, 1, 0);
        }

        // Heading level 3.
        h3, .h3 {
            @include typeset(h5, $head_m, 24 / 16, 1, 0);
        }

        // Heading level 4.
        h4, .h4 {
            @include typeset(h5, $head_m, 24 / 16, 1, 0);
        }

        // Heading level 5.
        h5, .h5 {
            @include typeset(c, $head_m, 26 / 16, 1, 0);
        }

        // Heading level 6.
        h6, .c {
            @include typeset(c, $head_m, 26 / 16, 0, 0);
        }

        // Lists.
        ul, ol {
            @include baseline(c, $text_m, 2, 2, 0);

            li {
                margin-left: 1rem;
            }
        }

        // Definition lists.
        dl {
            @include baseline(c, $ref_m, 2, 2, 0);

            font-family: unquote(map-get($ref_m, font-family));

            dt, dd {
                font-feature-settings: 'kern', 'onum', 'liga';
                margin-left: 1rem;
            }

            dt {
                font-weight: map-get($text_m, bold);
            }
        }

        // Tables.
        table {
            @include typeset(r1, $ref_m, 2, 1, 0);

            font-family: unquote(map-get($ref_m, font-family));
            font-style: map-get($ref_m, normal);
            font-weight: map-get($ref_m, regular);

            thead {
                th {
                    @include typeset(c, $ref_m, 2, 0, all);
                }
            }
        }

        // Bold.
        b, strong, .bold {
            font-weight: map-get($text_m, bold);
        }

        // Italic.
        em, i, .italic {
            font-style: map-get($text_m, italic);
        }

        // Caption and inline small text.
        small, .caption {
            @include fontsize(r2, 0);

            font-family: unquote(map-get($head_m, font-family));
            font-style: map-get($head_m, normal);
            font-weight: map-get($head_m, regular);
        }

        .caption {
            @include baseline(r2, $head_m, 2, 2, 0);
        }

        // Quotes.
        blockquote {
            p {
                // border-left: 0.15rem solid $link-color;
                font-style: map-get($text_m, italic);

                // Add spacing below blockquote paragraphs to align to baseline grid.
                $get-scale: map-get($modular-scale, scale-0);
                $get-size: map-get($get-scale, c);
                $rootsize: nth($sizes, 1);
                $baseline-shift: #{$get-size / 2 * (2 * $rootsize / $get-size - map-get($text_m, cap-height)) / $rootsize + 0.00001};
                $baseline-push: #{3 - ($get-size * (2 * $rootsize / $get-size - map-get($text_m, cap-height)) / $rootsize + 0.00001)};

                margin-bottom: #{$baseline-push}rem;
                padding-bottom: #{$baseline-shift}rem;

                @for $i from 2 through $breakpoints-limit {
                    $get-scale: map-get($modular-scale, scale-#{$i - 1});
                    $get-size: map-get($get-scale, c);
                    $rootsize: nth($sizes, $i);
                    $baseline-shift: #{$get-size / 2 * (2 * $rootsize / $get-size - map-get($text_m, cap-height)) / $rootsize + 0.00001};
                    $baseline-push: #{3 - ($get-size * (2 * $rootsize / $get-size - map-get($text_m, cap-height)) / $rootsize + 0.00001)};

                    @media screen and (min-width: nth($points, $i) / 16 * 1em) {
                        margin-bottom: #{$baseline-push}rem;
                        padding-bottom: #{$baseline-shift}rem;
                    }
                }
            }
        }

        // Code block.

        code {
            @include fontsize(r2, 0);
        }
    }



    .sole-logo, .gruppo-logo {
        text-align: center;
        height: 70px;
        overflow: hidden;

        img {
            padding: 0;
        }
    }

    .sole-logo {
        img {
            height: 26px;
            margin-top: 22px;
        }
    }

    .gruppo-logo {
        margin-bottom: 40px;

        img {
            height: 36px;
            margin-top: 17px;
        }
    }

    .sole-menu, .gruppo-menu {
        // height: 50px;
        // overflow: hidden;
        line-height: 20px;
    }

    .sole-menu {
        // border-top: 1px solid #000;
   
    }

    .gruppo-menu {
        // border-bottom: 1px solid #fff;
   
    }

    .section-footer {
        padding-top: 70px;
    }

    .footer-pink {
        background-color: #feebda;
        font-family: unquote(map-get($head_m, font-family));
        font-weight: map-get($head, bold);
        font-size: 14px;

        a {
            color: $black;
            text-transform: uppercase;
        }

        a:hover {
            opacity: .7;
        }
    }

    .footer-blue {
        background-color: $blue-dark;
        font-family: unquote(map-get($ref_m, font-family));
        font-size: 14px;
        color: $white;
        padding-bottom: 100px;

        .corporate {
            font-size: 12px;
            text-align: center;
            line-height: 20px;
            padding-left: 20px;
            padding-right: 20px;

            a {
                font-weight: map-get($ref_m, bold);
            }
        }

        a {
            color: $white;
            padding-left: 5px;
            padding-right: 5px;
        }

        a:hover {
            opacity: .7;
        }
    }

    .button.nav-button {
        display: none;
    }

    .sole-menu, .gruppo-menu {
        display: none;
    }


.hero.typeset {
        .lead {
        max-width: 460px;
        margin: 0 auto;
    }
}

}