<!-- bbc example -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@BBCNews">
<meta name="twitter:title" content="If young people voted bigly, would it change everything?">
<meta name="twitter:description" content="Suppose young people voted like their grandparents.">
<meta name="twitter:creator" content="@BBCNews">
<meta name="twitter:image:src" content="https://ichef.bbci.co.uk/news/1024/branded_news/12409/production/_96116747_youngpeopleab.jpg">
<meta name="twitter:image:alt" content="Young women" />
<meta name="twitter:domain" content="www.bbc.co.uk">